.bodu{
    margin-top: 16px;
}
.heading{
    position: absolute;
    left: 280px;
    top: 60px;
}
.back{
    font:bold ; 
    font-weight: 700;
    position: absolute;
    left: 280px;
    top: 105px;
    padding: 0;
    cursor:pointer;
    border: none;
    background: none;
}
.main{
    width:75%;
    height: 75%;
    border-radius: 3px;
    box-shadow: 5px 10px 10px 5px rgb(0 0 0 / 6%);
    border: rgb(179, 168, 168);
    background-color: white  ;
    position:absolute;
    left: 280px;
    display: inline-block;
    top:130px;
    overflow-x:scroll;
}
.main1{
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 6%);
    border: rgb(179, 168, 168);
    position: absolute;
    top: 20px;
    left: 100px;
    height: 80%;
    width: 80%;
}
.main2{
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 6%);
    border: rgb(179, 168, 168);
    position: absolute;
    height: 30%;
    width: 80%;
    left: 100px;
    top: 390px;

}
.main3{
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 6%);
    border: rgb(179, 168, 168);
    position: absolute;
    height: 10%;
    width: 80%;
    left: 100px;
    top: 530px;

}
.siph{
    font-weight: 600;
    margin: 5px;
    margin-left:  20px; ;
    padding: 0;

}
.intdiv{
    margin-top: 20px;
    padding-top: 20px;
}
.button1{
    position: absolute;
    left: 120px;
    top: 380px;
    cursor:pointer;
    padding: 10px;
    font:bold ; 
    font-weight: 700;
    border: 5px rgb(70, 133, 158);
    background-color: rgb(163, 216, 212)  ;
}
.button2{
    cursor:pointer;
    padding: 10px;
    font:bold ; 
    border: 5px rgb(70, 133, 158);
    font-weight: 700;
    background-color:rgb(131, 190, 226) ;
}
.reshead{
    padding-left: 10px;
    padding-top: 2px;
    background-color: rgb(169, 216, 245);
    height: 30px;
}
.chart{
  
    margin-left: 10px;
}
.tagfor{
    position: absolute;
    left:440px;
    top: 320px;
    
}
.tagform{
    position: absolute;
    left: 55px;
    top: 150px;
     transform: rotate(270deg);
}
.tagforrm{
    position: absolute;
    left: 440px;
    top: 17px;
}